<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

  <title>Thing Rater</title>
</head>

<body>

  <header class="bg-gray-400 p-4 mb-4 flex items-center justify-between">
    <h1 class="text-4xl text-gray-50">Thing Rater</h1>
    <nav>
      <a href="">Things</a>
      <a href="">About</a>
    </nav>
  </header>
  <main>
    {% block content %}

    {% endblock content %}
  </main>
</body>

</html>
